# config file for the WRAP: wrapper for my RNA analysis pipeline

# STAR mapping
STAR_INDEX_DIR = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/FASTA/star/
CHR_NAME_LENGTH_FILE = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/FASTA/star/chrNameLength.txt

# RSEQC
RSEQC_REFSEQ_BED = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/rseqc/hg38_RefSeq.bed
RSEQC_HOUSE_KEEPING_GENE_BED = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/rseqc/hg38.HouseKeepingGenes.bed
RSEQC_RIBOSOME_BED = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/rseqc/hg38_rRNA.bed
RSEQC_NOWIG = false
RSEQC_GTF = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/rseqc/gencode.v22.annotation.gtf
RSEQC_GENEINFO_TSV = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/rseqc/gencode.gene.info.v22.tsv

# PSIPSO
PRIMARY_GTF_REF = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/GTF/gencode.v35.primary_assembly.annotation.gtf
PRIMARY_GTF_EXON_REF = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/pipeline/ExonReference/gencode.v35.primary_assembly.annotation.exon.gtf 
PRIMARY_GTF_INTRON_REF = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/pipeline/IntronReference/gencode.v35.primary_assembly.intron.gtf
SPLICING_DEFICIENCY_CONFIG = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/pipeline/splicing_deficiency/splicing_deficiency.config

# JUNCSALVAGER
JUNCSALVAGER_GENELIST = /rgs01/resgen/dev/wc/tshaw/REFERENCE/WRAP/hg38/GTF/JUNCSALVAGER/short_gene_list.txt

# EXON PIPELINE
PRIMARY_GTF_EXON_LENGTH = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/pipeline/ExonReference/gencode.v35.primary_assembly.annotation.exon.length.txt

# INTRON PIPELINE
PRIMARY_GTF_INTRON_LENGTH = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/pipeline/IntronReference/gencode.v35.primary_assembly.intron.length.txt
SUMMARY_SCRIPT_FOLDER_PATH = /share/Lab_Shaw/software/WRAP_SUMMARY/
# OUTPUT Files
OUTPUT_HTSEQGENE_FILELST = htseq_gene_files.lst
OUTPUT_RSEQC_FILELST = rseqc_files.lst
OUTPUT_HTSEQEXON_FILELST = htseq_exon_files.lst
OUTPUT_HTSEQINTRON_FILELST = htseq_intron_files.lst
OUTPUT_STARfinalout_FILELST = star_finalout_files.lst
OUTPUT_SPLICING_DEFICIENCY_FILELST = splicing_deficiency_files.lst
OUTPUT_PSI_PSO_CALC_FILELST = psi_pso_files.lst

# KALLISTO PIPELINE


# RSEM PIPELINE

# GENESET ssGSEA analysis 

# RNAEDITING PIPELINE
 PRIMARY_FASTA = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/FASTA/GRCh38.primary_assembly.genome.fa
 RNAEDITING_VARIANTS = /share/dept_bbsr/Projects/Shaw_Timothy/3352_Splicing_Pipeline_2021/references/hg38_release35_GRCh38.p13/pipeline/rnaediting_references/pcgp_rnaediting_hg38_sites_updated.txt 
#
# # Run Optityping
 OPTITYPE_PROGRAM = /home/gatechatl/anaconda3/bin/OptiTypePipeline.py 
# 
# Check expression of mitochondria


# Check expression of Ribosomes


# Check expression of representative lincRNA


# Check expression of HERV RNAs


## Advance mode ##
SKIP_BAM2FASTQ = false
SKIP_STAR = false
SKIP_FASTQC = false
SKIP_RSEQC = false
SKIP_PSI_PSO_CALC = false
SKIP_SPLICING_DEFICIENCY = false
SKIP_HTSEQ_EXON_QUANT = false
SKIP_HTSEQ_INTRON_QUANT = false
SKIP_HTSEQ_GENE = false
SKIP_JUNCSALVAGER = false
SKIP_RNAEDIT = false
SKIP_OPTITYPE = false
SKIP_KNOWNVARIANTS = false
SKIP_RNAINDEL = false


